.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(208, 213, 186);
}

.logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.menu {
  display: flex;
  gap: 2rem;
  flex-grow: 1;
  justify-content: center;
}

.menu a {
  color: rgb(111, 127, 62);
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.menu a:hover {
  color: #040f18;
  filter: drop-shadow(0px 0px 50px #040f18);
  text-decoration: none;
}

.contactButton {
  background-color: rgb(111, 127, 62);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.contactButton:hover {
  background-color: rgb(79, 90, 44);
}

.contactButton::before {
  content: '';
  position: absolute;
  height: 180px;
  width: 15px;
  background: #ffffffbd;
  filter: blur(2px);
  transition: 1.5s;
  transform: rotate(-20deg) translateX(-50px) translateY(-200px);
}

.contactButton:hover::before {
  transform: rotate(-20deg) translateX(200px);
}