.footer {
  text-align: center;
  font-weight: 100;
  color: rgb(162, 172, 117);
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 50%;
  height: 2px;
  background: rgb(113, 122, 72);
}